html {
    height: 100%;
    padding: 0;
    margin: 0;
  }

body {
    margin: 0px;
    padding: 0px;
    background-color: #25313e;
    font-family: 'Hack';
    color: rgb(6, 151, 18)
}

#topbar {
    background-color: #191919;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    color: rgb(163, 163, 163);
    font-size: 25px;
}

#leftspacer {
    float: left;
    height: 100%;
    width: 25%;
}

#rightspacer {
    float: right;
    height: 100%;
    width: 25%;
}

#middle {
    float: left;
    width: 50%;
    height: 100%;
}

p {
    margin-top: 0;
}

.button {
    width: 100%;
    padding: 1em;
    color: black;
    /*background: black;*/
    border: none;
}

#curlOutput, #tracerouteOutput, #ncOutput, #pingOutput {
    width: 100%;
    height: 100%;
    background-color: #232323;
    font-family: 'Hack';
    color: rgb(6, 151, 18);
}

#curl, #traceroute, #netcat {
    width: 100%;
    height: 100%;
    background-color: #232323;
    font-family: 'Hack';
    color: rgb(6, 151, 18);
    text-align: center;
}

h3 {
    text-align: center;
}