<h3>Curl</h3>
<form action="">
    <input type="text" id="hostname" placeholder="Enter Hostname">
    <button class="button" type="button" onclick="compile()">
      Submit
    </button>
</form>

<section id="curlOutput">

</section>

<h3>Traceroute</h3>
<form action="">
    <input type="text" id="hostname" placeholder="Enter Hostname">
    <button class="button" type="button" onclick="compile()">
      Submit
    </button>
</form>

<section id="tracerouteOutput">

</section>

<h3>Netcat</h3>
<form action="">
    <input type="text" id="hostname" placeholder="Enter Hostname">
    <button class="button" type="button" onclick="compile()">
      Submit
    </button>
</form>

<section id="netcatOutput">

</section>

<h3>Ping</h3>
<form action="">
    <input type="text" id="hostname" placeholder="Enter Hostname">
    <button class="button" type="button" onclick="compile()">
      Submit
    </button>
</form>

<section id="pingOutput">

</section>


