<!DOCTYPE html>
<head>
  <title>CanItConnect?</title>
  <meta charset="utf-8"/>
</head>
<body>
  <h3>Curl</h3>
  <form id="curl" action="submit_form" method="post">
      <input type="text" id="hostname" placeholder="Enter Hostname">
      <button name="curlSubmit" type="submit" >
        Submit
      </button>
  </form>
  
  <section id="curlOutput">
  
  </section>
  
  <h3>Traceroute</h3>
  <form id="traceroute" action="submit_form" method="post">>
      <input type="text" id="hostname" placeholder="Enter Hostname">
      <button name="tracerouteSubmit" type="submit" >
        Submit
      </button>
  </form>
  
  <section id="tracerouteOutput">
  
  </section>
  
  <h3>Netcat</h3>
  <form id="netcat" action="submit_form" method="post">>
      <input type="text" id="hostname" placeholder="Enter Hostname">
      <button name="netcatSubmit" type="submit" >
        Submit
      </button>
  </form>
  
  <section id="netcatOutput">
  
  </section>
</body>

